# Pointer formatting
PointerAlignment : Right

# Indentation
IndentWidth: 4
UseTab: Never
TabWidth: 4

# Max line length
ColumnLimit: 135

# Don't reformat the contents of macros
SkipMacroDefinitionBody: true

# Enum and struct formatting
AllowShortEnumsOnASingleLine: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true

# Empty line limiter
MaxEmptyLinesToKeep: 1